<div id="hero" class="min">
	<div id="map-container"></div>
	<div class="filter">
		<div class="container">
			<div class="row">
				<div class="cl-12">
					<h1><%= @page.name %></h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="page">
	<div class="container">
		<div class="row">
			<div class="push-cl-1 cl-10">
				<%= raw @page.content %>
			</div>
		</div>
	</div>
</div>